#title{
    color: red;
}
#front{
    height: 50px;
    width: 630px;
    border: 1px solid gray;
}
li{
    float: left;
    list-style: none;
}
#c1{
    width: 20px;
    height: 20px;
    background-color: gray;
    position: relative;
    left: -30px;
}
#c2{
    width: 20px;
    height: 20px;
    background-color: purple;
    position: relative;
    left: -20px;
}
#c3{
    width: 20px;
    height: 20px;
    background-color: pink;
    position: relative;
    left: -10px;
}
#c4{
    width: 20px;
    height: 20px;
    background-color: aqua;
    position: relative;
    left: 0px;
}
#c5{
    width: 20px;
    height: 20px;
    background-color: yellow;
    position: relative;
    left: 10px;
}
#c6{
    width: 20px;
    height: 20px;
    background-color: green;
    position: relative;
    left: 20px;
}
#bh{
    margin: 0 auto;
    margin-bottom: 30px;
    width: 560px;
    height: 70px;
    position: relative;
    top: 20px;
}